.main {
    height: 7vh;
    background-color: #050505;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    object-fit: cover;

}

.logo {
    display: none;
}


@media only screen and (min-width: 767px) {
    .main {
        height: 7vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        top: 0;
    }

    .logo {
        display: block;
        height: 100%;
        width: auto;
        margin-left: 1rem;

        --b: 3px;
        --c: #ff000099;
        --w: 30%;
        border: var(--b) solid #0000;
        --_g: #0000 90deg, var(--c) 0;
        --_p: var(--w) var(--w) border-box no-repeat;
        background:
            conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
            conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);

    }
}