.container {
    width: 90vw;
    height: 80vh;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2% 2%;
    border: 2px solid #80808011;
    padding: 1% 1%
}


@media only screen and (min-width: 767px) {
    .container {
        width: 67vw;
        margin-left: 31vw;
        align-self: flex-start;
    }
}


@media only screen and (min-width: 991px) {

    .container {
        width: 72vw;
        margin-left: 26vw;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 77vw;
        margin-left: 21vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        width: 80vw;
        margin-left: 18vw;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

}

@media only screen and (min-width: 1915px) {
    .container {
        width: 82vw;
        margin-left: 16vw;
    }
}